.barchartxaxis path {
	display: none;
}
.barchartxaxis line {
	display: none;
	stroke-width: 1.5px;
	stroke: #fff;
}
.barchartxaxis text {
	font-family: "Arial Narrow";
}
.barchartbgbar {
	fill: #E6E6E6;
}