.barchartxaxis path {
	display: none;
}
.barchartxaxis line {
	display: none;
	stroke-width: 1.5px;
	stroke: #fff;
}
.barchartxaxis text {
	font-family: "Arial Narrow";
}
.barchartbgbar {
	fill: #E6E6E6;
}
#bar {
	float: bottom;
	position: absolute;
	margin-top: 220px;
	overflow: hidden;
}

.edges{
	stroke: #c4c4c4;
}

#miscinfo{
	float: bottom;
	position: absolute;
	margin-top: 5px;
	overflow: hidden;
	width: 198px;
	height: 220px;
	
}

.infolabel{
	width: 100px;
	background-color: #eaeaea;
}
	.negatif:hover {
		background-color: #F4E3E3 !important;
		color: #000;
	}
	.positif:hover {
		background-color: #E4F2DD !important;
		color: #000;
	}
	.nonopini:hover {
		background-color: #FDF9E6 !important;
		color: #000;
	}
	
	.negatif {
		background-color: #FF0000 !important;
		color: #fff;
	}
	.positif {
		background-color: #009900 !important;
		color: #fff;
	}
	.nonopini {
		background-color: #FAA732 !important;
		color: #fff;
	}
	
#linechart {
	margin-top: 5px;
	margin-bottom: -25px;
	float: right;
}
#context{
	margin-top: -5px;
	float: right;
}
.xAxis {
  fill: none;
  stroke: #ddd;
}
.xAxis text {
	font-family: "Arial Narrow";
	font-size: 9pt;
	stroke-width: 0px;
	fill: #000;
}

.textUnselectable{
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.xContextAxis {
  fill: none;
  stroke: #ddd;
}



.xContextAxis text {
	font-family: "Arial Narrow";
	font-size: 9pt;
	stroke-width: 0px;
	fill: #000;
}

.yAxis {
  fill: none;
  stroke: #ddd;
}
.yAxis text {
	font-size: 9pt;
	stroke-width: 0px;
	fill: #000;
}

path {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
  fill-opacity: .2;
}

.selecting circle.selected {
  fill: #000;
  stroke: #f00;
  stroke-width: 2px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.linecontext {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
.area {
	fill: none;
	  stroke: #000;
	  stroke-width: 0px;
}

.selecting rect {
  fill-opacity: 1;
}

.selecting rect.selected {
  fill-opacity: .7;
}

.resize rect{
  fill: #ddd;
  stroke: #ddd;
  stroke-width: 1px;
}

.contextbrush .extent {
  stroke: #000;
  stroke-width: 1px;
  fill: #000;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

.contextaxis {
	fill: none;
}

.theKeywordBG text{
	fill: #9d9d9d;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

