.barchartxaxis path {
	display: none;
}
.barchartxaxis line {
	display: none;
	stroke-width: 1.5px;
	stroke: #fff;
}
.barchartxaxis text {
	font-family: "Arial Narrow";
}
.barchartbgbar {
	fill: #E6E6E6;
}
#linechart {
	margin-top: -15px;
}
#context{
	margin-top: -40px;
	width: 1000px;
}
.xAxis {
  fill: none;
  stroke: #ddd;
}
.xAxis text {
	font-family: "Arial Narrow";
	font-size: 9pt;
	stroke-width: 0px;
	fill: #000;
}

.textUnselectable{
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.xContextAxis {
  fill: none;
  stroke: #ddd;
}



.xContextAxis text {
	font-family: "Arial Narrow";
	font-size: 9pt;
	stroke-width: 0px;
	fill: #000;
}

.yAxis {
  fill: none;
  stroke: #ddd;
}
.yAxis text {
	font-size: 9pt;
	stroke-width: 0px;
	fill: #000;
}

path {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
  fill-opacity: .2;
}

.selecting circle.selected {
  fill: #000;
  stroke: #f00;
  stroke-width: 2px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.linecontext {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
.area {
	fill: none;
	  stroke: #000;
	  stroke-width: 0px;
}

.selecting rect {
  fill-opacity: 1;
}

.selecting rect.selected {
  fill-opacity: .7;
}

.resize rect{
  fill: #ddd;
  stroke: #ddd;
  stroke-width: 1px;
}

.contextbrush .extent {
  stroke: #000;
  stroke-width: 1px;
  fill: #000;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

.contextaxis {
	fill: none;
}



