* {
    margin: 0;
    padding: 0;
}
body {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	background-color: #FAFAFA;
}


/* CSS Layout 
 * Adjustable to many screen width sizes 
 * 1280px
 * 1024px
 * 800px
*/
   #dashboard {
   		margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    
    #top {
    	margin: 0 0 1em 0em;
    	background-color: #EAEAEA;
    	position: fixed;
    }
    
    #leftbox {
    	width: 70%;
    }
    #rightbox {
    	width: 30%;
    }
    
    #linebox {
    	width: 100%;
        margin: 0.1em 1em 0em 0em;   
    }
    
    #infobox {
    	width: 100%;
    	margin: 0em 1em 0em 1em;
    }
    
    #tweetbox {
    	width: 100%;
        margin: 0.5em 1em 0em 1em;   
    }
    
    #overview {
    	position: relative;
        margin: 0.5em 1em 0em 0em;
    }

@media screen and (max-width: 1280px) { 
    
    #dashboard {
        width: 90%;
        min-height: 790px;     
    }
    #top {
    	width: 100%;
    	min-height: 2.5em;
    }
    
    #linebox {
        min-height: 400px;
    }
    
    #infobox {
    	min-height: 150px;
        max-height: 150px;
    }
    #tweetbox {
        min-height: 623px;
        max-height: 623px;
    }
    
    #overview {
        width: 100%;
        min-height: 365px;
    }

}

@media screen and (max-width: 1024px) { 
    
    #dashboard {
        width: 98%;
        min-height: 760px;     
    }
    
    #linebox {
        width: 65%;
        min-height: 400px;
    }
    
    #tweetbox {
        width: 30%;
        min-height: 320px;
    }
    
    #overview {
        width: 30%;
        min-height: 320px;
    }

}

@media screen and (max-width: 800px) { 
    
    #dashboard {
        width: 98%;
        min-height: 590px;     
    }
    
    #linebox {
        width: 65%;
        min-height: 300px;
    }
    
    #tweetbox {
        width: 30%;
        min-height: 260px;
    }
    
    #overview {
        width: 30%;
        min-height: 260px;
    }    
}

    #slidepick {
    	height: 1em;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
    }
    #inforentang {
    	background-color: #fff;
		padding: 0.5em 0.5em 0.5em 0.5em;
		font-weight: 100 !important;
		font-size: 1.5em;
		margin-left: 1em;
		top: -10px;
		border: 1px solid #DDD;
    }
    #infoCircle {
        margin: auto;
    }
    #rentang {
		min-width: 28em;
		margin: 0.5em 1em 0.5em 1em; 
	}
    #linegraph {
        height: 20em;
    }
    
    #linecontext {
    	margin-top: 0.5em;
    	margin-bottom: 0em;
        height: 5em;
    }

    #linecontrol {
    	margin-top: 0.5em;
        height: 2.5em;
        background-color: #EAEAEA;
        padding-left: 9em;
    }
	
	#overview .infobox {
		position: absolute;
		top: 0;
		left: 0;
		height: 1.4em;
		width: 100%;
		background-color: #EAEAEA;
	}
	
    .text_center {
		text-align: center;
    }
    #overviewcontent {
    	padding-left: 1.2em;
    }
    	
	.overviewtab {
		position: relative;
		float: left;
		width: 22%;
		margin-right: 0.5em;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		padding-right: 0.5em;
		padding-left: 0.5em;
		background: rgba(0, 0, 0, 0);
	}
	.overviewtab li {
		list-style: none;
	}
	.overviewtab .text_center {
		min-height: 1.6em;
	}
	
	.toptenhour {
		border: 1px solid #ddd;
		width: 100%;
		height: 10em;
		margin-bottom: 0.5em;
	}
	
	.numkwrank {
		margin-bottom: 2px;
		color: #ebebeb;
	}
	.numkwrank:hover {
		color: #4e4e4e;
	}
	.ulkw {
		margin-top: 0.2em;
		padding-top: 0.4em;
		border-top: 1px solid #ddd;
	}
	
	.inkw {
		width: 50%;
	}
	.kwtext {
		color: #000000;
		background-color: #fff;
	}
	.kwtext:hover {
		color: #FFFFFF;
		background-color: #3b3b3b;
	}
	.kw:hover {
		background-color: #ddd;
	}
	.hoursRect:hover {
		stroke: #000;
	}
	.buttonlayout {
		padding: 0.5em 1em 0.5em 1em;
		margin: 0em 1em 0em 1em;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}
   	
   	.infotweet form {
   		margin-left: 2.5em;
   	}
    .infoTweetViewer {
    	padding-left: 1em;
    }
    #textinfosearch {
        width: 60%;
        height: 100%;
    }

    
.tanggal {
    font-family: "Helvetica", "Lucida Grande", Sans-Serif;
    font-size: 2em;
}
.jumlah {
    font-family: "Helvetica", "Lucida Grande", Sans-Serif;
    font-size: 2em;
}
    


/* Common Styling */
.info_text {
	font-size: 1.5em;
	font-weight: 100;
}
.lucidaFont {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif !important; 
}

.input_warning {
	border-color: rgba(236, 82, 82, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(236, 82, 82, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(236, 82, 82, 0.6);
	outline: 0;
	outline: thin dotted 9;
}

.emphasize {
	text-decoration: underline;
}
.bigram {
	background-color: #ddd;
} 
.borderBox {
	border: 1px solid #a0a0a0;
}
   
.whiteBG {
	background-color: #fff; 
}

.infobox {
    height: 2.7em;
    text-align: center;
}
.infoboxsearch {
    height: 4.5em;
}
.infotweet {
    width: 100%;
    position: relative;
	min-height: 7.5em;
	max-height: 7.5em;
    text-align:center;
    margin-top: 1em;
}
.paginationbox {
    height: 3em;
}
.infotweet text {
    margin: 0px auto;
	font-size: 2em;
	font-weight: 100;
}

.left_tab {
	color: #fff;
	padding: 8px 5px 0px 2px !important;
}
.numtab {
	min-width: 1em;
}

.tab_negatif {
	background-color: #FF0000 !important;
}
.tab_positif {
	background-color: #009900 !important;
}
.tab_nonopini {
	background-color: #FAA732 !important;
}
.fullwidth {
   	width: 100%
}
.halfwidth {
	width: 50%;
}
.tweetviewer {
	border-top: 1px solid #ddd;
	overflow: auto;
	margin: 0.2em 0 0 0;
	max-height: 33.5em;
}
#telusur .tweetviewer {
	max-height: 33.5em;
}

.content {
    max-height: 18em;
    overflow: auto;
}

.lefting {
    position: relative;
    float: left;
}
.bordering {
        border: 0em solid #ddd;
}

.btn-width {
	min-width: 7em;
}

/* CUSTOMIZATION */
	/*overriding bootstrap.css */
	.toptenhour table {
		height: 100%;
	}
	.toptenhour table td {
		border: 1px solid #ddd;
	}
	ul {
		margin: 0;
	}
	
	#tweetbox .nav {
		margin: 0px;
	}	
	#tweetbox .pagination {
		display: table;
        margin: 0px auto;
		position: relative;
	}
	/* Search input form styling */
	span.deleteicon {
       position: relative;
    }
    span.deleteicon span {
       position: absolute;
       display: block;
       top: 5px;
       right: 5px;
       width: 16px;
       height: 16px;
       background-image: url("../img/glyphicons-halflings.png");
	   background-position: -312px 0;
	   background-repeat: no-repeat;
       cursor: pointer;
    }
    span.deleteicon input {
       padding-right: 16px;
    }
	.search-query {
		margin: 0.5em auto;
		min-width: 9em;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-border-radius: 0px;
	}
	
    /*Scrollbar Styling */
    ::-webkit-scrollbar {
       height: 12px;
	   width: 12px;
	   background: #fff;
    }
    ::-webkit-scrollbar-thumb {
        background: #a6a6a6;
    }
    ::-webkit-scrollbar-corner {
        background: #000;
    }
    
    /*UI Slider Customization */
   .ui-slider-horizontal {
   		height: 0.7em !important;
   	}
   	
   	.ui-slider-handle {
   		width: 0.8em !important;
   	}
   	
   	/* Corner radius */
	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }

    
    /*Input Styling*/
    input {
        border: 2px solid #ddd; 
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        max-width: 7em;
        margin-bottom: 0 !important;
    }

    /*Table Styling*/
    table
    {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 0px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table th
    {
        font-size: 12px;
        font-weight: normal;
        padding: 5px 2px;
        color: #039;
    }
    table td
    {
        padding: 0px 2px;
        color: #669;
        border-top: 2px solid #e8edff;
    }
    
    table tr:hover
    {
        background-color: #e8edff;
    }