body{
padding-top: 45px; /* 60px to make the container go all the way to the bottom of the topbar */  
}
.well{
background-color: #EEE;
padding-bottom: 5px;
}
.corner{
position: absolute;
float:left;
margin-left: -12px;
margin-top: -12px;
}
.marginleft{
margin-left: -20px;
}

.toggleview{
width: 130px;
margin: 5px 5px 0px 5px;
}
.buttonTengah{
margin: 5px 10px 0px 30px;
}

.buttonPinggir{
	position:inherit;
	float: right;
	top: 12px;
	margin: 0px 0px 0px 0px;
}
#infoCircle{
margin: 5px 5px 5px 5px;
}
.controlchart{
	margin-top: 10px;
	position: absolute;
	background-color: #EEE;
	height: 300px;
	border: 1px solid #E3E3E3;
	width: 190px;	
	-webkit-border-radius: 4px;
}
.judulchart {
	font-size: 1.1em;
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: #333;
	color: #FFFFFF;
}
.barslider {
	opacity: 0.9;
	margin-bottom: 10px;
}
.barslider:hover {
	opacity: 1;
}

#inforentang{
	position: relative;
	left: 40%;
	font-family:"Arial Narrow";
	font-size: large;
	font-weight: lighter;
	margin: 5px 0px 5px 0px;
	
}
.btn{
	font:"Arial Narrow";
}

.blingyo{
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F
}

.textrentang{
	font-weight: 600;
}
.slidercontainer {
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	font-size: 0.9em;
}
.slidercontainer select {
	display: none;
}
