* {
    margin: 0;
    padding: 0;
}

/* CSS Layout 
 * Adjustable to many screen width sizes 
 * 1280px
 * 1024px
 * 800px
*/
   #dashboard {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    
    #linebox {
        margin: 0.1em 1em 0em 1em;
    }
    
    #searchbox {
        margin: 0.1em 0em 0em 0em;
    }
    
    #tweetbox {
        margin: 0em 1em 0em 1em;
    }
    
    #overview {
        margin: 0em 0em 0em 0em;
    }
    

@media screen and (max-width: 1280px) { 
    
    #dashboard {
        width: 90%;
        min-height: 790px;     
    }
    
    #linebox {
        width: 97%;
        min-height: 420px;
    }
    
    #searchbox {
        width: 30%;
        min-height: 360px;
    }
    
    #tweetbox {
        width: 65%;
        min-height: 360px;
    }
    
    #overview {
        width: 30%;
        min-height: 360px;
    }

}

@media screen and (max-width: 1024px) { 
    
    #dashboard {
        width: 98%;
        min-height: 760px;     
    }
    
    #linebox {
        width: 65%;
        min-height: 400px;
    }
    
    #searchbox {
        width: 30%;
        min-height: 400px;
    }
    
    #tweetbox {
        width: 65%;
        min-height: 320px;
    }
    
    #overview {
        width: 30%;
        min-height: 320px;
    }

}

@media screen and (max-width: 800px) { 
    
    #dashboard {
        width: 98%;
        min-height: 590px;     
    }
    
    #linebox {
        width: 65%;
        min-height: 300px;
    }
    
    #searchbox {
        width: 30%;
        min-height: 300px;
    }
    
    #tweetbox {
        width: 65%;
        min-height: 260px;
    }
    
    #overview {
        width: 30%;
        min-height: 260px;
    }    
}

    
    #linegraph {
        height: 21em;
    }
    
    #linecontext {
        height: 5em;
    }

    #linecontrol {
        height: 3em;
        background-color: #f6ffff;
    }
	
	#rentang {
		margin: 0em 2em 0.5em 0.5em;

	}
    
    #contexttoggle {
    	
    }
    #viewcontrols {
    	
    }
    #timetoggles {
    	
    }
    #rentangsetting {
    	
    }
    
    #textinfosearch {
        width: 60%;
        height: 100%;
    }
    #pie {
        width: 40%;
        height: 100%;
    }

    
.tanggal {
    font-family: "Helvetica", "Lucida Grande", Sans-Serif;
    font-size: 2em;
}
.jumlah {
    font-family: "Helvetica", "Lucida Grande", Sans-Serif;
    font-size: 2em;
}
    


/* Common Styling */    
.infobox {
    height: 3em;
    text-align: center;
    font-size: 1.5em;
}

.infoboxsearch {
    height: 4.5em;
}

.content {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    max-height: 18em;
    overflow: auto;
}

.lefting {
    position: relative;
    float: left;
}
.bordering {
        border: 0em solid #ddd;
}
    
    /*Scrollbar Styling */
    ::-webkit-scrollbar {
       height: 12px;
	   width: 12px;
	   background: #ddd;
    }
    ::-webkit-scrollbar-thumb {
        background: #a6a6a6;
    }
    ::-webkit-scrollbar-corner {
        background: #000;
    }
    
    /*Input Styling*/
    input {
        border: 2px solid #ddd; 
       
        margin: 0.4em 0.5em 0.5em 0.5em;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        max-width: 9em;
    }

    /*Table Styling*/
    table
    {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 0px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table th
    {
        font-size: 12px;
        font-weight: normal;
        padding: 5px 2px;
        color: #039;
    }
    table td
    {
        padding: 0px 2px;
        color: #669;
        border-top: 2px solid #e8edff;
    }
    
    table tr:hover
    {
        background-color: #e8edff;
    }