	
	body{
	padding-top: 5px; /* 60px to make the container go all the way to the bottom of the topbar */  
	background: 
	    #fff
	    url(../img/bg/first_aid_kit.png)
	    repeat
	    fixed;
	}
	.inshadow {
	-moz-box-shadow: inset 0 0 9px #888;
	-webkit-box-shadow: inset 0 0 9px#888;
	box-shadow: inner 0 0 9px #888;
	}
	.well{
	background-color: #EEE;
	padding-bottom: 5px;
	}
	.corner{
	position: absolute;
	float:left;
	margin-left: -12px;
	margin-top: -12px;
	}
	
	#infoCircle{
	position: relative;
	float: left;
	right: 0px;
	}
	
	.topButton {
		width: 65px;
		padding-left: 5px;
	}
	
	#viewcontrols{
		position: relative;
		top: -10px;
	}
	#viewcontrols button{
		width: 90px;
	}
	.btnrentang {
		position: relative;
		float: left;
		top: -10px;
	}
	#slidepick {
		margin-left: 10px;
		max-width: 1100px;
		max-height: 50px;
		margin-bottom: 10px;
	}
	
	.inforentang{
		position: relative;
		float: left;
		left: 0px;
		font-size: large;
		font-weight: lighter;
	}
	.inforentang button{
		position: absolute;
		top: -10%;
		left: 100%;
	}
	.textrentang{
		font-weight: 600;
	}
	.widget-box {
	    background-color: #FFFFFF;
	    border: 1px solid #CDCDCD;
	    clear: both;
	    margin-top: 5px;
		margin-bottom: 5px;
	    position: relative;
	    
	    padding-top: 0px;
	}
	.widget-title span.icon {
		padding: 0px 10px 8px 11px;
		float: left;
		opacity: .7;
	}
	.widget-title {
		background-color: #FFFFFF;
		background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#ffffff), to(#F9F9F3));
		background-image: -webkit-linear-gradient(top, #ffffff 0%, #F3F3F3 100%);
	    background-image: -moz-linear-gradient(top, #ffffff 0%, #F3F3F3 100%);
	    background-image: -ms-linear-gradient(top, #ffffff 0%, #F3F3F3 100%);
	    background-image: -o-linear-gradient(top, #ffffff 0%, #F3F3F3 100%);
	    background-image: -linear-gradient(top, #ffffff 0%, #F3F3F3 100%);
	    border-bottom: 1px solid #CDCDCD;
	    height: 30px;
	}
	.widget-title h5 {
	    color: #666666;
		text-shadow: 0 1px 0 #ffffff;
	    font-size: 12px;
	    font-weight: bold;
	    padding: 0px 0px 0px;
	}
	.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
	top: -10px;
	}
	.widget-content {
		padding: 10px 15px;
	}
	
	.nopadding {	
		padding: 0 !important;
	}
	
	.ui-slider-horizontal {
		height: .2em !important;
	}
	.ui-slider-handle {
			height: 1.8em !important;
	}
	
	/* Corner radius */
	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
	
	
	.box-shadow{
	  -webkit-box-shadow: 1px 1px 8px 2px #ccc;
	  -moz-box-shadow: 1px 1px 8px 2px #ccc;
	  box-shadow: 1px 1px 8px 2px #ccc;
	}
	
	.minwidth100 {
		min-width: 100px;
	}
	
	
	.linkcursor {
		cursor: pointer;
	}
	
	.setback1{
		z-index: -9;
	}
	.bringfront{
		z-index: 1;
	}
	.table{
		margin-bottom: 0px;
		float: left;
	}
	.table th, .table td {
		line-height: 10px;
		font-size: smaller;
		padding-top: 11px;
	}
	
	/* 
	#linecontainer {
		min-width: 1170px;
	}
	*/
	
	#barcontainer{
		min-width: 370px;
	}
	
	table{
		background-color: #FFFFFF;
	}
	
	#pagingbutton{
		position: absolute;
		float: right;
		top: -15px;
		right: 10px;
	}
	.pagination a, .pagination span {
		line-height: 25px;
	}
	.jamtweet {
		width: 25px;
		background-color: #AABBCC !important;
	}
	.numbtweet {
		width: 20px;
		max-width: 30px;
		background-color: #BBBBBB;
	}
	span.deleteicon {
                position: relative;
            }
            span.deleteicon span {
                position: absolute;
                display: block;
                top: 5px;
                right: 10px;
                width: 16px;
                height: 16px;
                background-image: url("../img/glyphicons-halflings.png");
				background-position: -312px 0;
				background-repeat: no-repeat;
                cursor: pointer;
            }
            span.deleteicon input {
                padding-right: 16px;
            }
   #tampilkeyword {
		position: relative;
		top: 0px;
		margin-bottom: 5px;
	}
	.tampilsetting {
	
	}
	
	.loadingtweet{
		background-image: url("../img/black-010-loading.gif");
		background-repeat: no-repeat;
		position: relative;
		top: 80px;
		left: 20%;
	}
	
	#rentang {
		margin-top: -10px;
		background-color: #DDD;
		max-width: 100%;
		max-height: 100px;
		padding-top: 2px;
		padding-left: 10px;
		margin-left: -5px;
	}
	#datepick {
		margin-left: 25%;
	}
	#datepick button{
		margin-bottom: 9px;
		min-width: 90px;
	}
	
	
	#search {
		position: absolute;
		float:right;
		top: 0px;
		left: 23%;
	}
	#searchkeyword {
		width: 140px;
	}
	
	.tweetviewer{
		height: 280px;
		overflow: auto;
		width: 100%;
	}
	
	.infoTweetViewer {
		height: 10px;
		padding: 0px 0px 10px 25px;
	}
